/* components/Footer.module.css */

.footer {
    background-color: #222;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.socialIcon {
    font-size: 30px;
    color: #FFD700;
    transition: transform 0.3s ease;
}

.socialIcon:hover {
    transform: scale(1.2);
    color: #ADD8E6;
}